.rating-system {
  &__stars {
    display: inline-block;
    font-size: 2rem;
    font-family: Times, sans-serif;
    line-height: 1;
    letter-spacing: 3px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    width: 148px;
    align-self: center;

    span {
      cursor: pointer;
    }
  }
}
